# Exclude these folders
__pycache__/
data/
meta_data/
results_split_14_15/
results_split_optimal_14_15/
weights_split_14_15/
weights_split_optimal_14_15/

# Ignore backup files
*.pkl
*.pth
*.ckpt
*.csv
*.npy
*.txt
